*{
    margin: 0;
    padding: 0;
    color: #222831;

}



body{
    display: flexbox;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #EEEEEE;
    margin: 20px;
    padding: 10px;
}


.container{
    
}


#data{
    width: 300px;
    margin: 50px;
    padding: 30px 50px;
    border: 2px solid #00ADB5;
}



button{
    padding: 20px 30px;
    border: 2px solid #00ADB5;
    border-radius: 2px;
    background-color: #00ADB5;
    font-size: 500;
    
}

button:hover{
    transform: scale(0.9);
    opacity: 0.9;
}

li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: #ffff;
    font-size: 2rem;
    
}

li:hover{
    background-color: palevioletred;
}

span{
    font-size: 1.5rem;
}


#info{
    display: inline;
}